<div class="container container-bamberg">
    <div class= "row">
        <div class="col-md-8" style="text-align:center;">
            <canvas id="LilacChaser-Canvas" presentation_type= 'main' hidpi="off" width= "600" height= "600" style="background:#F3F3F3; text-align:center;"></canvas>
        </div>
        <div class="col-md-4 well">
            <label for="chaser_rpm" class="form-label">Rotation speed (rpm)</label>
            <input type="range" class="form-range range-bamberg" id="chaser_rpm" min="1" max="60" value="30">


            <div class="form-check form-switch">
                <input class="form-check-input checkbox-bamberg" type="checkbox" id="chaser_start_stop" checked><label class="form-check-label" for="chaser_start_stop">Play</label>
            </div>
        </div>
    </div>
</div>
<script src="{{ '/assets/stimuli/js/LilacChaser.js' | relative_url }}"></script>
