<!-- Shape from shading -->
<div class="container container-bamberg ">
    <div class= "row">
        <div class="col-md-8" style="text-align:center;">
            <canvas id="SFS-Canvas" presentation_type= 'main' hidpi="off" width= "600" height= "600" style="background:grey; text-align:center;"></canvas>
        </div>
        <div class="col-md-4 well">
            <button type="button" class="btn btn-bamberg" id="sfs_flip" onclick="flipAll()" >Flip all</button>
            <button type="button" class="btn btn-bamberg" id="sfs_ccw" onclick="rotateCCW()">Rotate CCW</button>
            <button type="button" class="btn btn-bamberg" id="sfs_cw" onclick="rotateCW()">Rotate CW</button>
        </div>
    </div>
</div>

<script src="{{ '/assets/stimuli/js/SFS.js' | relative_url }}"></script>
