<div class="container container-bamberg">
    <div class="row">
        <div class="col-md-7" style="text-align:center;">
            <canvas id="VS-Canvas" presentation_type= 'main' hidpi="off" width= "600" height= "600" style="background:lightgrey;border:1px solid #000000;"></canvas>
        </div>
        <div class="col-md-5 well">
            <div class="row" style="text-align:center;" id="VS-controls">
                <button id="VS-start" type="button" class="btn btn-bamberg btn-lg" onclick="vs_start()">Start</button>
            </div>

            <div id="VS-results" style="display: none;">
            <hr />
                <label>Trials with <span style="color:blue">color</span> target:</label>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4"><label>Correct</label></div>
                    <div class="col-lg-7" id="VS-color-correct">5/5</div>
                </div> 
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4"><label>Response time</label></div>
                    <div class="col-lg-7" id="VS-color-RT">100 &plusmn; 30 ms</div>
                </div> 
                <br />
                <label>Trials with <span style="color:blue">letter</span> target:</label>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4"><label>Correct</label></div>
                    <div class="col-lg-7" id="VS-letter-correct">5/5</div>
                </div> 
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4"><label>Response time</label></div>
                    <div class="col-lg-7" id="VS-letter-RT">100 &plusmn; 30 ms</div>
                </div>
                <br /> 
            </div>

        </div>
    </div>
</div>

<script src="{{ '/assets/stimuli/js/visual_search.js' | relative_url }}"></script>

