<nav class="navbar navbar-expand-lg nav-bamberg  bg-bamberg">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Something to see
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% assign sorted_stimuli =  site.data.stimuli | sort: 'title' | where: 'type', 'stimulus'  %}
                        {% for entry in sorted_stimuli %}
                            <li><a class="dropdown-item" href="{{entry.page}}">{{entry.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Something to do
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% assign sorted_experiments =  site.data.stimuli | sort: 'title' | where: 'type', 'experiment'  %}
                        {% for entry in sorted_experiments %}
                            <li><a class="dropdown-item" href="{{entry.page}}">{{entry.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>                
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="https://alexander-pastukhov.github.io/">Back to Sasha's website</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

